# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
module2/class11/questions/2.html
module2/class13/farm.json
module2/class13/weather app/index.html
module2/class13/weather app/script.js
module2/class13/weather app/style.css
module4/node_modules
module4/node_modules/mongoose/package.json
module4/node_modules/mongoose/dist/browser.umd.js
module4/node_modules/mongoose/lib/document.js
module4/node_modules/mongoose/lib/model.js
module4/node_modules/mongoose/lib/query.js
module4/node_modules/mongoose/lib/schema.js
module4/node_modules/mongoose/lib/utils.js
module4/node_modules/mongoose/lib/helpers/populate/markArraySubdocsPopulated.js
module4/node_modules/mongoose/lib/helpers/query/castUpdate.js
module4/node_modules/mongoose/lib/helpers/query/getEmbeddedDiscriminatorPath.js
module4/node_modules/mongoose/lib/schema/array.js
module4/node_modules/mongoose/lib/types/array/index.js
module4/node_modules/mongoose/node_modules/mongodb/LICENSE.md
module4/node_modules/mongoose/node_modules/mongodb/mongodb.d.ts
module4/node_modules/mongoose/node_modules/mongodb/package.json
module4/node_modules/mongoose/node_modules/mongodb/README.md
module4/node_modules/mongoose/node_modules/mongodb/tsconfig.json
module4/node_modules/mongoose/node_modules/mongodb/etc/prepare.js
module4/node_modules/mongoose/node_modules/mongodb/lib/admin.js
module4/node_modules/mongoose/node_modules/mongodb/lib/admin.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/bson.js
module4/node_modules/mongoose/node_modules/mongodb/lib/bson.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/change_stream.js
module4/node_modules/mongoose/node_modules/mongodb/lib/change_stream.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/collection.js
module4/node_modules/mongoose/node_modules/mongodb/lib/collection.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/connection_string.js
module4/node_modules/mongoose/node_modules/mongodb/lib/connection_string.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/constants.js
module4/node_modules/mongoose/node_modules/mongodb/lib/constants.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/db.js
module4/node_modules/mongoose/node_modules/mongodb/lib/db.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/deps.js
module4/node_modules/mongoose/node_modules/mongodb/lib/deps.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/encrypter.js
module4/node_modules/mongoose/node_modules/mongodb/lib/encrypter.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/error.js
module4/node_modules/mongoose/node_modules/mongodb/lib/error.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/explain.js
module4/node_modules/mongoose/node_modules/mongodb/lib/explain.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/index.js
module4/node_modules/mongoose/node_modules/mongodb/lib/index.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/mongo_client.js
module4/node_modules/mongoose/node_modules/mongodb/lib/mongo_client.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/mongo_logger.js
module4/node_modules/mongoose/node_modules/mongodb/lib/mongo_logger.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/mongo_types.js
module4/node_modules/mongoose/node_modules/mongodb/lib/mongo_types.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/read_concern.js
module4/node_modules/mongoose/node_modules/mongodb/lib/read_concern.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/read_preference.js
module4/node_modules/mongoose/node_modules/mongodb/lib/read_preference.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sessions.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sessions.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sort.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sort.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/transactions.js
module4/node_modules/mongoose/node_modules/mongodb/lib/transactions.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/utils.js
module4/node_modules/mongoose/node_modules/mongodb/lib/utils.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/write_concern.js
module4/node_modules/mongoose/node_modules/mongodb/lib/write_concern.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/bulk/common.js
module4/node_modules/mongoose/node_modules/mongodb/lib/bulk/common.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/bulk/ordered.js
module4/node_modules/mongoose/node_modules/mongodb/lib/bulk/ordered.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/bulk/unordered.js
module4/node_modules/mongoose/node_modules/mongodb/lib/bulk/unordered.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/command_monitoring_events.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/command_monitoring_events.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/commands.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/commands.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connect.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connect.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connection_pool_events.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connection_pool_events.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connection_pool.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connection_pool.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connection.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/connection.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/errors.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/errors.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/message_stream.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/message_stream.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/metrics.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/metrics.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/stream_description.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/stream_description.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/auth_provider.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/auth_provider.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/gssapi.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/gssapi.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongo_credentials.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongo_credentials.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongocr.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongocr.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_aws.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_aws.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/plain.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/plain.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/providers.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/providers.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/scram.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/scram.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/x509.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/x509.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/aws_service_workflow.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/aws_service_workflow.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/azure_service_workflow.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/azure_service_workflow.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/azure_token_cache.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/azure_token_cache.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/cache.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/cache.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/callback_lock_cache.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/callback_lock_cache.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/callback_workflow.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/callback_workflow.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/service_workflow.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/service_workflow.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/token_entry_cache.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/token_entry_cache.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/handshake/client_metadata.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/handshake/client_metadata.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/wire_protocol/compression.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/wire_protocol/compression.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/wire_protocol/constants.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/wire_protocol/constants.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/wire_protocol/shared.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cmap/wire_protocol/shared.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/abstract_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/abstract_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/aggregation_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/aggregation_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/change_stream_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/change_stream_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/find_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/find_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/list_collections_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/list_collections_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/list_indexes_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/list_indexes_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/list_search_indexes_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/list_search_indexes_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/run_command_cursor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/cursor/run_command_cursor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/gridfs/download.js
module4/node_modules/mongoose/node_modules/mongodb/lib/gridfs/download.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/gridfs/index.js
module4/node_modules/mongoose/node_modules/mongodb/lib/gridfs/index.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/gridfs/upload.js
module4/node_modules/mongoose/node_modules/mongodb/lib/gridfs/upload.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/add_user.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/add_user.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/aggregate.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/aggregate.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/bulk_write.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/bulk_write.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/collections.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/collections.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/command.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/command.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/common_functions.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/common_functions.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/count_documents.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/count_documents.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/count.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/count.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/create_collection.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/create_collection.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/delete.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/delete.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/distinct.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/distinct.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/drop.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/drop.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/estimated_document_count.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/estimated_document_count.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/eval.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/eval.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/execute_operation.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/execute_operation.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/find_and_modify.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/find_and_modify.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/find.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/find.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/get_more.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/get_more.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/indexes.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/indexes.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/insert.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/insert.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/is_capped.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/is_capped.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/kill_cursors.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/kill_cursors.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/list_collections.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/list_collections.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/list_databases.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/list_databases.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/operation.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/operation.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/options_operation.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/options_operation.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/profiling_level.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/profiling_level.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/remove_user.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/remove_user.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/rename.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/rename.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/run_command.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/run_command.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/set_profiling_level.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/set_profiling_level.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/stats.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/stats.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/update.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/update.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/validate_collection.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/validate_collection.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/search_indexes/create.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/search_indexes/create.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/search_indexes/drop.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/search_indexes/drop.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/search_indexes/update.js
module4/node_modules/mongoose/node_modules/mongodb/lib/operations/search_indexes/update.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/common.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/common.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/events.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/events.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/monitor.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/monitor.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/server_description.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/server_description.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/server_selection.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/server_selection.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/server.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/server.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/srv_polling.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/srv_polling.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/topology_description.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/topology_description.js.map
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/topology.js
module4/node_modules/mongoose/node_modules/mongodb/lib/sdam/topology.js.map
module4/node_modules/mongoose/node_modules/mongodb/src/admin.ts
module4/node_modules/mongoose/node_modules/mongodb/src/bson.ts
module4/node_modules/mongoose/node_modules/mongodb/src/change_stream.ts
module4/node_modules/mongoose/node_modules/mongodb/src/collection.ts
module4/node_modules/mongoose/node_modules/mongodb/src/connection_string.ts
module4/node_modules/mongoose/node_modules/mongodb/src/constants.ts
module4/node_modules/mongoose/node_modules/mongodb/src/db.ts
module4/node_modules/mongoose/node_modules/mongodb/src/deps.ts
module4/node_modules/mongoose/node_modules/mongodb/src/encrypter.ts
module4/node_modules/mongoose/node_modules/mongodb/src/error.ts
module4/node_modules/mongoose/node_modules/mongodb/src/explain.ts
module4/node_modules/mongoose/node_modules/mongodb/src/index.ts
module4/node_modules/mongoose/node_modules/mongodb/src/mongo_client.ts
module4/node_modules/mongoose/node_modules/mongodb/src/mongo_logger.ts
module4/node_modules/mongoose/node_modules/mongodb/src/mongo_types.ts
module4/node_modules/mongoose/node_modules/mongodb/src/read_concern.ts
module4/node_modules/mongoose/node_modules/mongodb/src/read_preference.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sessions.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sort.ts
module4/node_modules/mongoose/node_modules/mongodb/src/transactions.ts
module4/node_modules/mongoose/node_modules/mongodb/src/utils.ts
module4/node_modules/mongoose/node_modules/mongodb/src/write_concern.ts
module4/node_modules/mongoose/node_modules/mongodb/src/bulk/common.ts
module4/node_modules/mongoose/node_modules/mongodb/src/bulk/ordered.ts
module4/node_modules/mongoose/node_modules/mongodb/src/bulk/unordered.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/command_monitoring_events.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/commands.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/connect.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/connection_pool_events.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/connection_pool.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/connection.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/errors.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/message_stream.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/metrics.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/stream_description.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/auth_provider.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/gssapi.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongo_credentials.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongocr.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_aws.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/plain.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/providers.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/scram.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/x509.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/aws_service_workflow.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/azure_service_workflow.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/azure_token_cache.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/cache.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/callback_lock_cache.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/callback_workflow.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/service_workflow.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/auth/mongodb_oidc/token_entry_cache.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/handshake/client_metadata.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/wire_protocol/compression.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/wire_protocol/constants.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cmap/wire_protocol/shared.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/abstract_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/aggregation_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/change_stream_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/find_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/list_collections_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/list_indexes_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/list_search_indexes_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/cursor/run_command_cursor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/gridfs/download.ts
module4/node_modules/mongoose/node_modules/mongodb/src/gridfs/index.ts
module4/node_modules/mongoose/node_modules/mongodb/src/gridfs/upload.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/add_user.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/aggregate.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/bulk_write.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/collections.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/command.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/common_functions.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/count_documents.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/count.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/create_collection.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/delete.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/distinct.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/drop.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/estimated_document_count.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/eval.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/execute_operation.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/find_and_modify.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/find.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/get_more.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/indexes.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/insert.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/is_capped.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/kill_cursors.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/list_collections.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/list_databases.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/operation.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/options_operation.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/profiling_level.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/remove_user.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/rename.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/run_command.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/set_profiling_level.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/stats.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/update.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/validate_collection.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/search_indexes/create.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/search_indexes/drop.ts
module4/node_modules/mongoose/node_modules/mongodb/src/operations/search_indexes/update.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/common.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/events.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/monitor.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/server_description.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/server_selection.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/server.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/srv_polling.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/topology_description.ts
module4/node_modules/mongoose/node_modules/mongodb/src/sdam/topology.ts
module4/node_modules/mongoose/types/index.d.ts
module4/node_modules/mongoose/types/inferschematype.d.ts
module4/node_modules/mongoose/types/models.d.ts
module4/node_modules/mongoose/types/pipelinestage.d.ts
module4/node_modules/mongoose/types/schematypes.d.ts
module4/class3&4/index.js
