.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.translate-0{
  transform: translateX(0);
}

.translate-1{
  transform: translateX(-25%);
}

.translate-2{
  transform: translateX(-50%);
}

.translate-3{
  transform: translateX(-75%);
}